@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<header>
    <nav class="top-nav-bar">
        <a class="logo-brand" asp-area="" asp-controller="Home" asp-action="Index">Makers of Denmark</a>
        <ul class="top-nav">
            <li class="">
                <a class="" asp-area="" asp-controller="Home" asp-action="">Home</a>
            </li>
            <li class="">
                <a class="" asp-area="" asp-controller="Feed" asp-action="">Feed</a>
            </li>
            <li class="">
                <a class="" asp-area="" asp-controller="Explore">Udforsk</a>
            </li>
            <li class="">
                <a class="" asp-area="" asp-controller="Calendar">Kalender</a>
            </li>
            <li class="">
                <a class="" asp-area="" asp-controller="Profile" asp-route-id="5f2074fe-4f24-4588-5292-08d8a2a56bfe">Profil</a>
            </li>
            <li class="">
                <a class="" asp-area="" asp-controller="Makerspace" asp-route-id="f79066d2-c834-453e-7694-08d875b5fc2c">Makerspace</a>
            </li>
            <li class="">
                <a class="" asp-area="" asp-controller="Event">Event</a>
            </li>
            <li class="">
                <a class="" asp-area="" asp-controller="Login">Login</a>
            </li>

        </ul>
    </nav>
</header>