@{
    ViewData["Title"] = "Profile";
}

<partial name="~/Views/Shared/_TopNavBar.cshtml" />
<div class="profile">
    <div class="profile-container">
        <div class="info container shadow-4">
            <div class="avatar">
                <img src="~/css/img/avatar.png" />
            </div>
            <div class="info-form">
                <div>
                    <label for="name">Navn</label>
                    <input placeholder="" id="name" />
                </div>
                <div>
                    <label for="address">Addresse</label>
                    <input placeholder="" id="address" />
                </div>
                <div>
                    <label for="email">Email</label>
                    <input placeholder="" id="email"/>
                </div>
                <div>
                    <label for="school">Skole/uddannelse</label>
                    <input placeholder="" id="school" />
                </div>
                <div>
                    <label for="password">Password</label>
                    <input placeholder="" id="password" type="password"/>
                </div>
                <div>
                    <label for="phone">Tlt. nr</label>
                    <input placeholder="" id="phone" />
                </div>
            </div>
            <button>Gem</button>
        </div>
        <div class="container shadow-4">
            <div class="badges">
                <h2>Mine badges</h2>
                <div class="badge-list">
                    <img src="~/css/img/badges/009-winner.png" />
                    <img src="~/css/img/badges/019-trophy.png" />
                    <img src="~/css/img/badges/022-badge-1.png" />
                    <img src="~/css/img/badges/017-medal-2.png" />
                    <img src="~/css/img/badges/022-badge-1.png" />
                    <img src="~/css/img/badges/026-badge-3.png" />
                    <img src="~/css/img/badges/028-badge-4.png" />
                    <img src="~/css/img/badges/031-badge-7.png" />
                    <img src="~/css/img/badges/034-medal-3.png" />
                    <img src="~/css/img/badges/042-trophy-6.png" />
                    <img src="~/css/img/badges/044-diploma.png" />
                    <img src="~/css/img/badges/047-gold-medal-2.png" />
                </div>
                <a class="see-more">se mere</a>
            </div>
            <div class="makerspaces">
                <h2>Mine Makerspaces</h2>
                <div class="makerspace-list">
                    <div>
                        <img src="~/css/img/badges/035-flag.png" />
                        <h3>Fablab UCL Odense</h3>
                    </div>
                    <div>
                        <img src="~/css/img/badges/044-diploma.png" />
                        <h3>Makerspace Aarhus</h3>
                    </div>
                    <div>
                        <img src="~/css/img/badges/027-trophy-2.png" />
                        <h3>Build it!</h3>
                    </div>
                    <div>
                        <img src="~/css/img/badges/036-badge-8.png" />
                        <h3>Fablab EAL Nyborg</h3>
                    </div>
                    <div>
                        <img src="~/css/img/badges/022-badge-1.png" />
                        <h3>Fablab EAL Nyborg</h3>
                    </div>
                </div>
                <a class="see-more">se mere</a>
            </div>
        </div>
    </div>
</div>
