
@{
    ViewData["Title"] = "Hjem";
}
<partial name="~/Views/Shared/_TopNavBar.cshtml" />
<div class="calendar-wrapper">
    <div class="events">
        <div class="yourevents">
            <h1>Dine events</h1>
        </div>
        <div class="otherevents">
            <h1>Andre events</h1>
        </div>
    </div>
    <div class="calendar">

    </div>

</div>
