
@{
    ViewData["Title"] = "Hjem";
}
<partial name="~/Views/Shared/_TopNavBar.cshtml" />
<div class="calendar-wrapper">
    <div class="events">
        <div class="yourevents">
            <h1>Dine events</h1>
            <div class="events-content">
                <div class="card shadow-3">
                    <div class="event-header">
                        <img src="~/css/img/badges/020-badge.png" />
                        <div class="event-header-text">
                            <h3> Makerspace 1</h3>
                            <label>Event1</label>
                            <p class="eventdate">1-1-2020</p>
                        </div>
                    </div>
                </div>
                <div class="card shadow-3">
                    <div class="event-header">
                        <img src="~/css/img/badges/020-badge.png" />
                        <div class="event-header-text">
                            <h3> Makerspace 2</h3>
                            <label>Event2</label>
                            <p class="eventdate">1-1-2020</p>
                        </div>
                    </div>
                </div>
                <div class="card shadow-3">
                    <div class="event-header">
                        <img src="~/css/img/badges/020-badge.png" />
                        <div class="event-header-text">
                            <h3> Makerspace 3</h3>
                            <label>Event3</label>
                            <p class="eventdate">1-1-2020</p>
                        </div>
                    </div>
                </div>
                <div class="card shadow-3">
                    <div class="event-header">
                        <img src="~/css/img/badges/020-badge.png" />
                        <div class="event-header-text">
                            <h3> Makerspace 4</h3>
                            <label>Event4</label>
                            <p class="eventdate">1-1-2021</p>
                        </div>
                    </div>
                </div>
                <div class="card shadow-3">
                    <div class="event-header">
                        <img src="~/css/img/badges/020-badge.png" />
                        <div class="event-header-text">
                            <h3> Makerspace 5</h3>
                            <label>Event5</label>
                            <p class="eventdate">1-1-2021</p>
                        </div>
                    </div>
                </div>
                <div class="card shadow-3">
                    <div class="event-header">
                        <img src="~/css/img/badges/020-badge.png" />
                        <div class="event-header-text">
                            <h3> Makerspace 6</h3>
                            <label>Event6</label>
                            <p class="eventdate">1-1-2021</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="otherevents">
            <h1>Andre events</h1>
            <div class="events-content">
                <div class="card shadow-3">
                    <div class="event-header">
                        <img src="~/css/img/badges/020-badge.png" />
                        <div class="event-header-text">
                            <h3> Makerspace 1</h3>
                            <label>Event1</label>
                            <p class="eventdate">1-1-2020</p>
                        </div>
                    </div>
                </div>
                <div class="card shadow-3">
                    <div class="event-header">
                        <img src="~/css/img/badges/020-badge.png" />
                        <div class="event-header-text">
                            <h3> Makerspace 2</h3>
                            <label>Event2</label>
                            <p class="eventdate">1-1-2020</p>
                        </div>
                    </div>
                </div>
                <div class="card shadow-3">
                    <div class="event-header">
                        <img src="~/css/img/badges/020-badge.png" />
                        <div class="event-header-text">
                            <h3> Makerspace 3</h3>
                            <label>Event3</label>
                            <p class="eventdate">1-1-2020</p>
                        </div>
                    </div>
                </div>
                <div class="card shadow-3">
                    <div class="event-header">
                        <img src="~/css/img/badges/020-badge.png" />
                        <div class="event-header-text">
                            <h3> Makerspace 4</h3>
                            <label>Event4</label>
                            <p class="eventdate">1-1-2021</p>
                        </div>
                    </div>
                </div>
                <div class="card shadow-3">
                    <div class="event-header">
                        <img src="~/css/img/badges/020-badge.png" />
                        <div class="event-header-text">
                            <h3> Makerspace 5</h3>
                            <label>Event5</label>
                            <p class="eventdate">1-1-2021</p>
                        </div>
                    </div>
                </div>
                <div class="card shadow-3">
                    <div class="event-header">
                        <img src="~/css/img/badges/020-badge.png" />
                        <div class="event-header-text">
                            <h3> Makerspace 6</h3>
                            <label>Event6</label>
                            <p class="eventdate">1-1-2021</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="calendar">
        <iframe src="https://calendar.google.com/calendar/embed?height=500&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FCopenhagen&amp;showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showTz=0&amp;showCalendars=1&amp;showNav=1&amp;showDate=1" style="border:solid 1px #777" width="700" height="500" frameborder="0" scrolling="no"></iframe>
    </div>

</div>
