@{
    ViewData["Title"] = "Explore";
}
<partial name="../Shared/_TopNavBar.cshtml">

<main class="explore">

    <section class="intro-section">

        <div class="box1">
            <h1 class="title">Udforsk din kreativitet</h1>
            <p class="paragraph">Find Events og Makerspaces i nærheden af dig. Udforsk de forskellige Makerspaces i dit område, og find ud af hvilke badges du kan få!</p>
            <button class="button title-button">Søg alle</button>
        </div>

        <div class="box2">
            <!--Placeholder billede-->
            <img src="~/css/img/workshop.jpg" class="placeholderbillede" />
        </div>

    </section>

    <section>

        <div class="flex">
            <h2 class="title">Makerspaces i Odense</h2>
            <a class="link-text">Se mere</a>
        </div>
        <div class="scrolling-wrapper-flexbox">
            <div class="card"><h2>Card</h2></div>
            <div class="card"><h2>Card</h2></div>
            <div class="card"><h2>Card</h2></div>
            <div class="card"><h2>Card</h2></div>
            <div class="card"><h2>Card</h2></div>
            <div class="card"><h2>Card</h2></div>
        </div>

        <div class="flex">
            <h2 class="title">Events i Odense</h2>
            <p class="link-text">Se mere</p>
        </div>
        <div class="scrolling-wrapper-flexbox">
            <div class="card"><h2>Card</h2></div>
            <div class="card"><h2>Card</h2></div>
            <div class="card"><h2>Card</h2></div>
            <div class="card"><h2>Card</h2></div>
            <div class="card"><h2>Card</h2></div>
            <div class="card"><h2>Card</h2></div>
        </div>

    </section>

</main>