@{
    ViewData["Title"] = "Explore";
}
<main class="explore">

    <section class="intro-section">

        <h1 class="">Udforsk din kreativitet</h1>
        <p class="">Doubtful two bed way bubber confined followed. Shew up ye away no eyes life or were this. Perfectly did suspicion house but his intention.</p>
        <button class=""></button>
        <img src="/img/placeholder.png" alt="" class="">

    </section>

    <section>

        <h2 class="">Makerspaces i Odense</h2>
        <div class="gridview">
            <p class="">Se mere</p>
            <!-- indsæt "kort" til at lave gridview her, med vertical scroll -->
        </div>

        <h2 class="">Events i Odense</h2>
        <div class="gridview">
            <p class="">Se mere</p>
            <!-- indsæt "kort" til at lave gridview her, med vertical scroll -->
        </div>

    </section>

</main>