@{
    ViewData["Title"] = "Login";
}

<div class="login">
    <div class="login-illustration">
        <img src="~/css/img/workshop.jpg" />
    </div>
    <div class="login-form">
        <h1>LOGIN</h1>
        <form>
            <label for="email">Email</label>
            <input name="email" />
            <label for="password">Password</label>
            <input name="password" />
        </form>
        <button>Login</button>
        <button>Opret</button>
        <div>
            -------- eller login med --------
        </div>
    </div>
</div>
