@{
    ViewData["Title"] = "Login";
}

<div class="login">
    <div class="login-illuistation">
        <img src="~/css/img/workshop.jpg" />
    </div>
    <div class="login-form">

    </div>
</div>
