@import "../variables.scss";
.calendar-wrapper {
    display: grid;
    min-height: 100vh;
    padding-top: 24px;
    grid-template-columns: auto auto;
    background-image: url("img/backgroundCalendar.jpg");
    background-color: #cccccc;
    background-size: 100%;

    .events {
        h1 {
            color: $color-text-1;
        }
    }
}
