@import "../variables.scss";

//GLOBAL
.event {
    background-color: aliceblue;
    width: 80%;
    margin: 0 auto;
    display: flex;
    grid-template-columns: repeat(2,auto);
}

.infobox-container {
    margin-top: 3vh;
    width: 22vw;
}

.event-section {
    width: 100%;
    margin: 3vh 2vw 0 0;
}

//Event sektion
.event-container {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: $padding-sm $padding-lg $padding-sm $padding-lg;
}

.intro {
    display: flex;
    grid-template-columns: repeat(3,auto);
    width: 100%;
    margin-bottom: 2rem;
    align-items: center;
}

.button {
    width: 10vw;
    height: 6vh;
    margin-top: 0.5rem;
    margin-left: auto;
    align-self: end;
}

.event-icon {
    width: 7vw;
    height: 8vh;
    border-radius: 5rem 5rem;
    margin-right: 1rem;
}

//deltager sektion i event sektion
.participants-grid {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-flow: row wrap;
}

.participants-grid:after {
    content: "";
    flex: auto;
}

.participant-card {
    width: 150px;
    height: 200px;
    border-color: black;
    border: solid;
    margin: $padding-md 1rem $padding-md 0;
}

.flex {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin: 5vh 0 1rem 0
}

.link-text {
    margin-top: 1rem;
}

//Info box
.info-box {
    background-color: white;
}

.box-text {
    margin: 5px 5px 0 5px;
}

.badge {
    width: 5vw;
    height: 5vh;
    border-radius: 5rem 5rem;
}

.box-map {
    width: 100%;
    height: 30vh;
    margin-top: 3vh;
}