@import "../variables.scss";

// GLOBAL

.explore {
    width: 80%;
    margin: 0 auto;
    //skal ændres
    background-color: $color-background;
}

//Intro sektion
.intro-section {
    // Fjern margins efter styling
    margin-top: 3vh;
    margin-bottom: 3vh;

    display: flex;
    grid-template-columns: repeat(2,auto);
}

.box1 {
    width: 45vw;
    padding-right: 5rem;
}

.box2 {
    width: 55vw;
}

.title {
    padding-bottom: $padding-md;
}

.paragraph {
    padding-bottom: $padding-lg;
}

.title-button {
    width: 10rem;
}




//Grid sektion
.flex {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin: 5vh 0 1rem 0
}

.link-text {
    margin-top: 1rem;
}


.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  
  .card {
    flex: 0 0 auto;
  }
}

.card {
  border: 2px solid red;
  width: 15rem;
  height: 22rem;
  margin: 0 6rem 0 0;
  background: white;
}
