@import "../variables.scss";

html, body, .feed-wrapper {
    height: 100%;
    width: 100%;
    background-image: url("img/backgroundFeed.png");
    background-color: #cccccc;
    background-size: 100%;
    overflow: hidden;
}
.footer {
    background: blue;
}
.feed {
    display: grid;
    height: 100vh;
    padding-top: 24px;
    grid-template-columns: auto auto auto;
}
.makerspacelabel {
    color: #FB7167;
    text-align: center;
    align-content: center;
}

.makerspaces {
    border-bottom: 1px solid $color-faded;
}

.label {
    margin-top: 24px;
    color: $color-text-1;
}

h1 {
    text-align: center;
    align-content: center;
    color: $color-text-1;
}

.eventsnearby {
    border-bottom: 1px solid $color-faded;
}

.feed-content {
    display: grid;
    grid-template-columns: auto;
}

.feed-field {
    display: grid;
    grid-auto-rows: 150px;
    grid-gap: 10px;
    overflow-y: auto; /*added*/
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    text-align: center;
    padding: 16px;
    border: hidden;
    background-color: $color-white;
}

