@import "../variables.scss";

#home {
    background-color: aliceblue;


    .grid-content {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 3rem;
        padding: 2rem;
        align-items: center;
        margin: 0 auto;
        width: 80%;
        margin-bottom: 5rem;


        .btn-cta {
            margin-top: 1rem;
            width: 10rem;
        }
        

    }

    .grid-content-2 {
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 1rem;
        padding: 2rem;
        align-items: center;
        margin: 0 auto;
        width: 80%;

        .filter-function {
            width: 50%;
        }

        #map {
            height: 100vh;
        }

    }

     .grid-content-3 {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 3rem;
        padding: 2rem;
        align-items: center;
        margin: 0 auto; 
        width: 80%;
        height: 70vh;
        background-color: white;
        margin-top: 5rem;

        .side-img {

        }

        .box {
            justify-self: center;
            
        }

        .box {
            justify-self: center;
        }


        .btn-cta {
            margin-top: 1rem;
            width: 10rem;
        }
    }

}




