@import "../variables.scss";

//GLOBAL
.makerspace {
    background-color: $color-background;
}

.makerspace-wrapper {
    width: 80%;
    margin: 0 auto;
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: flex;
    grid-template-columns: repeat(2,auto);
}

.makerspace-section {
    width: 100%;
    margin: 3vh 2vw 0 0;
}

.makerspace-img {
    width: 25vw;
}

.infobox-container {
    margin-top: 3vh;
    width: 20%;
}   

.description-flex{
    margin-left: 2vw;
}

//tab sektion
.tab-container {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: $padding-sm $padding-lg $padding-sm $padding-lg;
}

.makerspace-intro {
    display: flex;
    grid-template-columns: repeat(2,auto);
    width: 100%;
    margin-bottom: 2rem;
}

.makerspace-button {
    width: 200px;
    height: 60px;
    float: right;
    margin-top: 1rem;
}

.makerspace-flex {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
}

//Info box
.infobox-container {
    margin-top: 3vh;
    width: 22vw;
}

.info-box {
    background-color: white;
}

.box-text {
    margin: 5px 5px 0 5px;
}

.badge {
    width: 5vw;
    height: 5vh;
    border-radius: 5rem 5rem;
}

.box-map {
    width: 100%;
    height: 30vh;
    margin-top: 3vh;
}