@import "../variables.scss";

.profile {
    background-color: $color-background;

    .profile-container {
        width: 60%;
        padding: 5rem;
        margin: auto;

        .container {
            background: white;
            padding: 3rem;
            border-radius: $border-radius-md;
        }

        .info {
            display: grid;
            grid-template-columns: repeat(2,auto);
            grid-row-gap: 3rem;
            margin-bottom: 3rem;

            h2 {
                text-align: center;
            }

            button {
                width: max-content;
                padding-left: 2rem;
                padding-right: 2rem;
                grid-column: 2;
                margin-left: auto;
            }

            .avatar {
                img {
                    height: 15rem;
                }
            }

            .info-form {
                display: grid;
                grid-row-gap: 1rem;
                grid-column-gap: 3rem;
                grid-template-columns: repeat(2,auto);
            }
        }

        .badges {
            position: relative;
            padding-bottom: 2rem;

            h2 {
                margin-bottom: 1rem
            }

            .badge-list {
                display: grid;
                grid-template-rows: 100%;
                grid-template-columns: repeat(12,auto);
                gap: 1rem;

                & > * {
                    transition: 100ms all ease-in-out;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }

        .see-more {
            position: absolute;
            bottom: 0;
            right: 0;
            text-decoration: underline;
            cursor: pointer;
        }

        .makerspaces {
            margin-top: 4rem;
            position: relative;
            padding-bottom: 2rem;

            h2 {
                margin-bottom: 1rem
            }

            .makerspace-list {
                display: grid;
                grid-template-rows: 100%;
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                gap: 1rem;
                text-align: center;

                & > div {
                    padding: 1rem;
                    border-radius: $border-radius-md;
                    border: 4px solid rgba(0,0,0,0);
                    cursor: pointer;

                    &:hover {
                        border: 4px solid $color-faded;
                    }

                    img {
                        padding: 1rem;
                    }
                }
            }
        }
    }
}
