@{
    ViewData["Title"] = "Home Page";
    @Html.Partial("_TopNavBar");
    @Url.Content("~/Views/<ControllerHome>/somefile.css")
}
<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLrHUZyHtrmof5LvZGt644w89gFc6ZN2M&callback=initMap&libraries=&v=weekly"
            defer></script>
    <script>
        // Initialize and add the map
        function initMap(){
            // Map options
            var options = {
                zoom: 8,
                center: { lat: 55.403461, lng: 10.3771453 }
            };

            // The map, centered at Denmark
            var map = new google.maps.Map(document.getElementById('map'), options);

            // Listen for click on map
            google.maps.event.addListener(map, 'click', function(event){

            });

            /*
            // Add marker, positioned at Fablab UCL
            var marker = new google.maps.Marker({
                position: fablab,
                map: map,
            });

            var infoWindow = new google.maps.InfoWindow({
                content: '<h1>UCL Fablab</h1>'
            });

            marker.addListener('click', function () {
                infoWindow.open(map, marker);
            });
            */

            // Array of markers
            var markers = [
                {
                    coords: { lat: 55.403461, lng: 10.3771453 },
                    content: '<h2> Fablab UCL</h2>'
                },
                {
                    coords: { lat: 55.36898271, lng: 10.4260477 },
                    content: '<h2> Fablab SDU</h2>'
                },
                {
                    coords: { lat: 56.1663124, lng: 9.5478561 },
                    content: '<h2> Fablab Silkeborg</h2>'
                }
            ];

            // Loop through markers
            for (var i = 0;i < markers.length; i++) {
                // Add marker
                addMarker(markers[i]);
            }

            // Add Marker Function
            function addMarker(props) {
                var marker = new google.maps.Marker({
                    position: props.coords,
                    map: map,
 
                });

                // Check content
                if (props.content) {
                    var infoWindow = new google.maps.InfoWindow({
                        content: props.content
                    });

                    marker.addListener('click', function () {
                        infoWindow.open(map, marker);
                    });
                }
            }
        }
    </script>

</head>

<main id="home">

    <section class="grid-content">
        <div class="box">
            <h2 class="header-title">Makers of Denmark</h2>
            <p>Makers of Denmark skaber et nemt og overskueligt</p>
            <p>overblik over de forskellige Makerspaces i Danmark.</p>
            <p>Find dit nærmeste Makerspace, og bliv en del af fælleskabet.</p>
            <button class="btn-cta">Bliv medlem</button>
        </div>
        <div class="login-illustration">
            <img src="~/css/img/workshop.jpg" alt="Alternate Text" />
        </div>
    </section>
    <section class="grid-content-2">
        <div class="box">
            <h2 class="header-title">Find dit nærmeste Makerspace</h2>
        </div>
        <div class="filter-function">
            <input type="text" id="myInput" onkeyup="" placeholder="F.eks. Odense">
        </div>
        <div id="map">
        </div>
    </section>
    <section class="grid-content-3">
        <div class="grid-img-1">
            <img src="~/css/img/happy-people.jpg" alt="Alternate Text" />
        </div>
        <div class="box">
            <h2 class="header-title">Hvem er vi?</h2>
            <p>MakersofDenmark består af et community,</p>
            <p>som forsøger at gøre det nemt og tilgængigt </p>
            <p>for brugere, at skabe sig et overblik over hvilke</p>
            <p>faciliteter der tilbydes. På nuværende</p>
            <p>tidspunkt findes der over 100+ Fablabs på</p>
            <p>nationalt plan, og dette forsætter med at stige</p>
            <p>år efter år.</p>
            <button class="btn-cta">Læs mere</button>
        </div>
    </section>
    <section class="grid-content-3">
        <div class="box-2">
            <h2 class="header-title">Bliv en del af fællesskabet</h2>
            <p>
                Ønsker du at være en del af et solidt fællesskab, som er passioneret inden for den kreative verden,
                så er Makers of Denmark stedet for dig. Dine kreative sanser vil blive udfordret, samt der vil være oplæring af nye teknologier.
            <p />
            <button class="btn-cta">Opret her</button>
        </div>
        <div class="side-img">
            <img src="~/css/img/fun-enviroment.jpg" alt="Alternate Text" />
        </div>
    </section>


</main>

