@{
    ViewData["Title"] = "Home Page";
}

<main id="home">
    <section class="grid">
        <div class="box">
            <h2 class="header-title">Makers of Denmark</h2>
            <p>Makers of Denmark skaber et nemt og overskueligt overblik over de forskellige Makerspaces i Danmark. Find dit nærmeste Makerspace, og bliv en del af fælleskabet.</p>
            <button class="btn-sign-up">Bliv medlem</button>
        </div>
        <div class="login-illustration">
            <img src="~/css/img/workshop.jpg" alt="Alternate Text" />
        </div>
    </section>
    @* Kort filter funktion*@
    <section class="grid-1">
        <div class="side-img">
        </div>
        <div class="box">
            <h2 class="header-title">Hvem er vi?</h2>
            <p>
                MakersofDenmark består af et community, som forsøger at gøre det nemt og tilgængigt for brugere, at skabe sig et overblik over hvilke faciliteter der tilbydes. På nuværende tidspunkt findes der over 100+ Fablabs på nationalt plan, og dette forsætter med at stige år efter år.
            </p>
            <button class="btn-sign-up">Bliv medlem</button>
        </div>
    </section>
</main>

