$color-background: #F0F4FF;

$color-primary: #4C51ED;
$color-secondary: red;

$color-text-1: #0B0754;
$color-text-2: #7D99EC;

$color-faded: #D0DBF9;
$color-white: #FFFFFF;

$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 16px;

$padding-sm: 4px;
$padding-md: 8px;
$padding-lg: 16px;
