@page
@{
    Layout = "~/Views/Shared/_Navbar.cshtml";
}
<span>
 <div style="align-content:center; text-align:center; width:33%; float:left;">Makerspace</div>
 <div style="align-content:center; text-align:center; width:33%; float:left;">Feed</div>
 <div style="align-content: center; text-align: center; width: 33%; float: left;">Events</div>