@model IEnumerable<Makers_of_Denmark.Models.Makerspace>
@{
    ViewData["Title"] = "Hjem";
}
<partial name="~/Views/Shared/_TopNavBar.cshtml" />
<div class="feed-wrapper">
    <div class="feed">
        <div>
            <h1>Velkommen</h1><br />
            <div class="makerspaces">
                <h2 class="makerspacelabel">Makerspaces</h2>
                <table class="makerspacestable">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>

                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img src="@Url.Content(item.logoUrl)" alt="Image" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a asp-action="#" asp-route-id="#item.id*">+Se mere</a>
            </div>
        </div>
        <div>
            <label>Seneste opslag</label>
        </div>
        <div>
            <div class="eventsnearby">
                <label>Events i nærheden</label>
            </div>
            <div class="yourevents">
                <label>Dine events</label>
            </div>
        </div>
    </div>
</div>