@model IEnumerable<Makers_of_Denmark.Models.Makerspace>
@{
    ViewData["Title"] = "Hjem";
}
<partial name="~/Views/Shared/_TopNavBar.cshtml" />
<div class="feed-wrapper">
    <div class="feed">
        <div>
            <div class="eventsnearby">
                <label>Events i nærheden</label>
            </div>
            <div class="yourevents">
                <label>Dine events</label>
            </div>
        </div>
        <div class="feed-content">
            <label>Seneste opslag</label>
            <div class="feed-field">
                <div class="card shadow-3">1</div>
                <div class="card shadow-3">2</div>
                <div class="card shadow-3">3</div>
                <div class="card shadow-3">4</div>
                <div class="card shadow-3">5</div>
                <div class="card shadow-3">6</div>
                <div class="card shadow-3">7</div>
                <div class="card shadow-3">8</div>
                <div class="card shadow-3">9</div>
                <div class="card shadow-3">10</div>
                <div class="card shadow-3">11</div>
                <div class="card shadow-3">12</div>
                <div class="card shadow-3">10</div>
                <div class="card shadow-3">11</div>
                <div class="card shadow-3">12</div>
                <div class="card shadow-3">10</div>
                <div class="card shadow-3">11</div>
                <div class="card shadow-3">12</div>
            </div>
        </div>
        <div>
            <h1>Velkommen</h1><br />
            <div class="makerspaces">
                <h2 class="makerspacelabel">Makerspaces</h2>
                <div class="makerspace-list">
                    @foreach (var item in Model)
                    {
                    <div>
                        @*<img src="@Url.Content(item.logoUrl)" alt="" />*@
                        <img src="~/css/img/badges/020-badge.png" />
                        <h3>@Html.DisplayFor(modelItem => item.name)</h3>
                    </div>
                    }
                </div>
                <a class="underline" asp-area="" asp-controller="Profile">+ Se mere</a>
            </div>
        </div>
    </div>
</div>