@{
    ViewData["Title"] = "Feed";
}
    <div class="feed">
        <div style="align-content:center; text-align:center; width:33%; float:left;">Makerspace</div>
        <div style="align-content:center; text-align:center; width:33%; float:left;">Feed</div>
        <div style="align-content: center; text-align: center; width: 33%; float: left;">Events</div>
    </div>