@model Makers_of_Denmark.Models.Makerspace
@{
    ViewData["Title"] = "Makerspace";
}

<partial name="../Shared/_TopNavBar.cshtml">

    <main class="makerspace">
        <div class="makerspace-wrapper">

            <section class="makerspace-section">
                <h1 class="title">@Model.name</h1>
                <div class="intro">
                    <img src="/css/img/workshop.jpg" alt="" class="makerspace-img">
                    <div>
                        <p class="">Description data</p>
                        <button class="button">Tilmeld</button>
                    </div>
                </div>

                <div class="makerspace-container">
                    <div class="description">
                        <h2 class="">Beskrivelse</h2>
                        <p class=""><!--Api data--> text</p>
                        <img src="" alt="" class=""><!--Api data-->
                    </div>
                </div>
            </section>


            <aside class="infobox-container">
                <div class="info-box">
                    <p class="box-text"><!--Titel styling-->Generel info</p>
                    <p class="box-text"><!--Titel styling-->Tidspunkt</p>
                    <p class="box-text"><!--Api data-->Date date time</p>
                    <p class="box-text">Max deltagere <!--Api data--></p>
                    <p class="box-text">Badge</p>
                    <img src="/css/img/workshop.jpg" alt="" class="badge"><!--Api data-->
                </div>

                <div class="info-box">
                    <p class="box-text"><!--Titel styling-->Generel info</p>
                    <p class="box-text"><!--Titel styling-->Tidspunkt</p>
                    <p class="box-text"><!--Api data-->Date date time</p>
                    <p class="box-text">Max deltagere <!--Api data--></p>
                    <p class="box-text">Badge</p>
                    <img src="/css/img/workshop.jpg" alt="" class="badge"><!--Api data-->
                </div>

            </aside>
        </div>

    </main>
