@{
    ViewData["Title"] = "Event";
}
<partial name="../Shared/_TopNavBar.cshtml">

<main class="makerspace">
    <div class="makerspace-wrapper">

        <section class="intro-section">
            <h1 class="title"><!--Api data-->Title title</h1>
            <div class="intro">

                <div>

                </div>
                <button class="button">Bliv medlem</button>
            </div>

            <div class="tab-container">
                <div class="">
                    
                </div>

            </div>
        </section>


        <aside class="infobox-container">
            <div class="info-box">

            </div>

        </aside>
    </div>

</main>