@model IEnumerable<Makers_of_Denmark.Models.Makerspace>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>MakerspacesModel</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
