@model Makers_of_Denmark.Models.Event
@{
    ViewData["Title"] = "Event";
}
<partial name="../Shared/_TopNavBar.cshtml">

    <head>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLrHUZyHtrmof5LvZGt644w89gFc6ZN2M&callback=initMap&libraries=&v=weekly"
                defer></script>
        <script>
            // Initialize and add the map
            function initMap() {
                // Map options
                var options = {
                    zoom: 8,
                    center: { lat: 55.403461, lng: 10.3771453 }
                };

                // The map, centered at Denmark
                var map = new google.maps.Map(document.getElementById('map'), options);

                // Listen for click on map
                google.maps.event.addListener(map, 'click', function () {
                });

                /*
                // Add marker, positioned at Fablab UCL
                var marker = new google.maps.Marker({
                    position: fablab,
                    map: map,
                });

                var infoWindow = new google.maps.InfoWindow({
                    content: '<h1>UCL Fablab</h1>'
                });

                marker.addListener('click', function () {
                    infoWindow.open(map, marker);
                });
                */

                // Array of markers
                var markers = [
                    {
                        coords: { lat: 55.403461, lng: 10.3771453 },
                        content: '<h2> Fablab UCL</h2>'
                    },
                    {
                        coords: { lat: 55.36898271, lng: 10.4260477 },
                        content: '<h2> Fablab SDU</h2>'
                    },
                    {
                        coords: { lat: 56.1663124, lng: 9.5478561 },
                        content: '<h2> Fablab Silkeborg</h2>'
                    }
                ];

                // Loop through markers
                for (var i = 0; i < markers.length; i++) {
                    // Add marker
                    addMarker(markers[i]);
                }

                // Add Marker Function
                function addMarker(props) {
                    var marker = new google.maps.Marker({
                        position: props.coords,
                        map: map,

                    });

                    // Check content
                    if (props.content) {
                        var infoWindow = new google.maps.InfoWindow({
                            content: props.content
                        });

                        marker.addListener('click', function () {
                            infoWindow.open(map, marker);
                        });
                    }
                }
            }
        </script>

    </head>
    <main class="event">
        <div class="event-wrapper">
            <section class="event-section">
                <h1 class="title">@Model.title</h1>
                <div class="intro">
                    <img src="/css/img/workshop.jpg" alt="" class="event-icon">
                    <div>
                        <p class=""><!--Api data-->@Model.makerspace.name</p>
                        <p class=""><!--Api data-->@Model.start</p>
                    </div>
                    <button class="button">Tilmeld</button>
                </div>

                <div class="event-container">
                    <div class="description">
                        <h2 class="">Beskrivelse</h2>
                        <p class=""><!--Api data--> @Model.description</p>
                        <img src="" alt="" class=""><!--Api data-->
                    </div>

                    <div class="participants">

                        <div class="flex">
                            <h2 class="">Deltagere</h2>
                            <a class="link-text"><!--Hvis der bliver lavet en fuld liste-->Se mere</a>
                        </div>
                        <div class="participants-grid">
                            <div class="participant-card"><h2>Card</h2></div>
                            <div class="participant-card"><h2>Card</h2></div>
                            <div class="participant-card"><h2>Card</h2></div>
                            <div class="participant-card"><h2>Card</h2></div>
                            <div class="participant-card"><h2>Card</h2></div>
                            <div class="participant-card"><h2>Card</h2></div>
                        </div>
                    </div>
                </div>
            </section>


            <aside class="infobox-container">
                <div class="info-box">
                    <p class="box-text"><!--Titel styling-->Generel info</p>
                    <p class="box-text"><!--Titel styling-->Tidspunkt</p>
                    <p class="box-text"><!--Api data-->Date date time</p>
                    <p class="box-text">Max deltagere <!--Api data--></p>
                    <p class="box-text">Badge</p>
                    <img src="/css/img/workshop.jpg" alt="" class="badge"><!--Api data-->
                </div>

                <div id="map" class="box-map">
                </div>

            </aside>
        </div>

    </main>
