@{
    ViewData["Title"] = "Event";
}
<partial name="../Shared/_TopNavBar.cshtml">

<main class="event">

    <section class="event-section">
        <h1 class="title">Title title</h1>
        <div class="intro">
            <img src="/css/img/workshop.jpg" alt="" class="event-icon">
            <div>
                <p class="">Makerspace</p>
                <p class="">Date date</p>
            </div>
            <button class="button">Tilmeld</button>
        </div>

        <div class="event-container">
            <div class="description">
                <h2 class="">Beskrivelse</h2>
                <p class="">text text</p>
                <img src="" alt="" class="">
                <h2 class="">Titel</h2>
                <p class="">text text</p>
            </div>

            <div class="participants">

                <h2 class="">Deltagere</h2>
                <p class="">Se mere</p>
                <!-- Indsæt "kort" til grid view af deltagere -->
            </div>
        </div>
    </section>


    <aside class="infobox-container">
        <div class="info-box">
            <p class="">Generel info</p>
            <p class="">Tidspunkt</p>
            <p class="">Date date time</p>
            <p class="">Max deltagere</p>
            <p class="">Badge</p>
            <img src="" alt="" class="">
        </div>

        <img src="" alt="" class="">

    </aside>

</main>