@{
    ViewData["Title"] = "Event";
}
<partial name="../Shared/_TopNavBar.cshtml">

<main class="event">
    <div class="event-wrapper">

        <section class="event-section">
            <h1 class="title"><!--Api data-->Title title</h1>
            <div class="intro">
                <img src="/css/img/workshop.jpg" alt="" class="event-icon">
                <div>
                    <p class=""><!--Api data-->Makerspace</p>
                    <p class=""><!--Api data-->Date date</p>
                </div>
                <button class="button">Tilmeld</button>
            </div>

            <div class="event-container">
                <div class="description">
                    <h2 class="">Beskrivelse</h2>
                    <p class=""><!--Api data--> text</p>
                    <img src="" alt="" class=""><!--Api data-->
                </div>

                <div class="participants">

                    <div class="flex">
                        <h2 class="">Deltagere</h2>
                        <a class="link-text"><!--Hvis der bliver lavet en fuld liste-->Se mere</a>
                    </div>
                    <div class="participants-grid">
                        <div class="participant-card"><h2>Card</h2></div>
                        <div class="participant-card"><h2>Card</h2></div>
                        <div class="participant-card"><h2>Card</h2></div>
                        <div class="participant-card"><h2>Card</h2></div>
                        <div class="participant-card"><h2>Card</h2></div>
                        <div class="participant-card"><h2>Card</h2></div>
                    </div>
                </div>
            </div>
        </section>


        <aside class="infobox-container">
            <div class="info-box">
                <p class="box-text"><!--Titel styling-->Generel info</p>
                <p class="box-text"><!--Titel styling-->Tidspunkt</p>
                <p class="box-text"><!--Api data-->Date date time</p>
                <p class="box-text">Max deltagere <!--Api data--></p>
                <p class="box-text">Badge</p>
                <img src="/css/img/workshop.jpg" alt="" class="badge"><!--Api data-->
            </div>

            <img src="/css/img/workshop.jpg" alt="" class="box-map">

        </aside>
    </div>

</main>