@{
    ViewData["Title"] = "Event";
}
<partial name="../Shared/_TopNavBar.cshtml">

<main class="event">

    <section class="event-section">
            <h1 class="title">Title title</h1>
            <div class="intro">
                <img src="/css/img/workshop.jpg" alt="" class="event-icon">
                <div>
                    <p class="">Makerspace</p>
                    <p class="">Date date</p>
                </div>
                <button class="button">Tilmeld</button>
            </div>

            <div class="event-container">
                <div class="description">
                    <h2 class="">Beskrivelse</h2>
                    <p class="">text text</p>
                    <img src="" alt="" class="">
                    <h2 class="">Titel</h2>
                    <p class="">text text</p>
                </div>

                <div class="participants">

                    <div class="flex">
                        <h2 class="">Deltagere</h2>
                        <a class="link-text">Se mere</a>
                    </div>
                    <div class="participants-grid">
                        <div class="participant-card"><h2>Card</h2></div>
                        <div class="participant-card"><h2>Card</h2></div>
                        <div class="participant-card"><h2>Card</h2></div>
                        <div class="participant-card"><h2>Card</h2></div>
                        <div class="participant-card"><h2>Card</h2></div>
                        <div class="participant-card"><h2>Card</h2></div>
                    </div>
                </div>
            </div>
    </section>


    <aside class="infobox-container">
        <div class="info-box">
            <p class="box-text">Generel info</p>
            <p class="box-text">Tidspunkt</p>
            <p class="box-text">Date date time</p>
            <p class="box-text">Max deltagere</p>
            <p class="box-text">Badge</p>
            <img src="/css/img/workshop.jpg" alt="" class="badge">
        </div>

        <img src="/css/img/workshop.jpg" alt="" class="box-map">

    </aside>

</main>