@{
    ViewData["Title"] = "Event";
}
<main class="event">

    <section class="intro-section">

        <h1 class="">Title title</h1>
        <img src="" alt="" class="event-icon">
        <p class="">Makerspace</p>
        <p class="">Date date</p>
        <button class=""></button>

    </section>

    <aside>

        <div class="info-box">
            <p class="">Generel info</p>
            <p class="">Tidspunkt</p>
            <p class="">Date date time</p>
            <p class="">Max deltagere</p>
            <p class="">Badge</p>
            <img src="" alt="" class="">
        </div>

        <img src="" alt="" class="">

    </aside>

    <section class="">

        <section class="description">
            <h2 class="">Beskrivelse</h2>
            <p class="">text text</p>
            <img src="" alt="" class="">
            <h2 class="">Titel</h2>
            <p class="">text text</p>
        </section>

        <section class="participants">

            <h2 class="">Deltagere</h2>
            <p class="">Se mere</p>
            <!-- Indsæt "kort" til grid view af deltagere -->

        </section>
    </section>

</main>